// добавляет звездочку к label
.required-label:after {
  content: "*";
  color: red;
}
// вертикальные блоки: отступы
.vertical-margin-element-24 {
  margin-bottom: 24px !important;
  &:last-child {
    margin-bottom: 0px !important;
  }
}
.vertical-margin-element-16 {
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0px;
  }
}

.vertical-margin-element-8 {
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0px;
  }
}
