// добавляет звездочку к label
.required-label:after {
  content: "*";
  color: red;
}
// верхняя полоса с названием и действиями
.header-block {
  border-block-end: 1px solid rgb(235, 237, 240);
  margin-bottom: 16px !important;
}
// загрузка
.spin-width {
  width: 100%;
}
// вертикальные блоки: отступы
.vertical-margin-element-24 {
  margin-bottom: 24px !important;
  &:last-child {
    margin-bottom: 0px !important;
  }
}
.vertical-margin-element-16 {
  margin-bottom: 16px;
  &:last-child {
    margin-bottom: 0px;
  }
}
.vertical-margin-element-8 {
  margin-bottom: 8px;
  &:last-child {
    margin-bottom: 0px;
  }
}
